<a href="https://colab.research.google.com/github/Zuj3brusu/Python-programming-exercises/blob/master/python_programming_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import math

###Question 1
Level 1

Question: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
l=[]
for i in range(2000,3201):
  if (i%7==0) and (i%5!=0):
    l.append(str(i))
print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###Question 2
Level 1

Question: Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

In [ ]:
x=int(input())
m=1
for i in range(1,x+1):
  m*=i
print(m)

8
40320

###Question 3
Level 1

Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
x=int(input())
d={}
for i in range(1,x+1):
  d[i]=i*i
print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

###Question 4
Level 1

Question: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [ ]:
x=input()
l=x.split(',')
print(l,tuple(l))

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

###Question 5
Level 1

Question: Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

In [ ]:
class myclass():
  def __init__(self):
    self.mystr = ''
  
  def getString(self):
    s = input()
    self.mystr = s

  def printString(self):
    print(self.mystr.upper())
  
  def test(self):
    self.getString()
    self.printString()

x = myclass()
x.getString()
x.printString()
x.test()

asASdD
ASASDD
sdgF
SDGF

###Question 6
Level 2

Question: Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

In [ ]:
import math

In [ ]:
ds=input()
l=[]
d_s = ds.split(',')
c=50
h=30
for i in d_s:
  d=int(i)
  x=(2*c*d)/h
  x = math.sqrt(x)
  l.append(str(round(x)))
print(','.join(l))

100,150,180
18,22,24

###Question 7
Level 2

Question: Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
x=input()
X,Y= [int(d) for d in x.split(',')]

mat=[]
for i in range(X):
  l=[]
  for j in range(Y):
    l.append(i*j)
  mat.append(l)
print(mat)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

###Question 8
Level 2

Question: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

In [ ]:
x=input()
x=x.split(',')
x = sorted(x)
print(','.join(x))

without,hello,bag,world
bag,hello,without,world

###Question 9
Level 2

Question£º Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

In [ ]:
x=input()
print(x.upper())

Hello world Practice makes perfect
HELLO WORLD PRACTICE MAKES PERFECT

###Question 10
Level 2

Question: Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

In [ ]:
x = input()
y = list(set(x.split(' ')))
y.sort()
print(' '.join(y))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

###Question 11
Level 2

Question: Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence. Example: 0100,0011,1010,1001 Then the output should be: 1010 Notes: Assume the data is input by console.

In [ ]:
x=input()
x = x.split(',')
l=[]
def dec(s):
  d0=int(s[0])
  d1=int(s[1])
  d2=int(s[2])
  d3=int(s[3])
  return d3*1 + d2*2 + d1*4 + d0*8

for i in x:
  z = dec(i)
  if z%5==0:
    l.append(i)
print(','.join(l))

0100,0011,1010,1001
1010

###Question 12
Level 2

Question: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
l=[]
for i in range(1000,3001):
  z = i
  if (z%10)%2==0:
    z=z//10
    if (z%10)%2==0:
      z=z//10
      if (z%10)%2==0:
        z=z//10
        if (z%10)%2==0:
          l.append(str(i))
print(','.join(l))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

###Question 13
Level 2

Question: Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program: hello world! 123 Then, the output should be: LETTERS 10 DIGITS 3

In [ ]:
l=0
d=0
x=input()
for i in x:
  if i == ' ':
    continue
  if i.isalpha():
    l+=1
  try:
    int(i)
    d+=1
  except:
    continue
print("LETTERS",l,'DIGITS',d)

hello world! 123
LETTERS 10 DIGITS 3

###Question 14
Level 2

Question: Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program: Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

In [ ]:
x=input()
u=0
l=0
for i in x:
  if not i.isalpha():
    continue
  if i.upper()==i:
    u+=1
  else:
    l+=1
print('UPPER CASE',u,'LOWER CASE',l)

Hello world!
UPPER CASE 1 LOWER CASE 9

###Question 15
Level 2

Question: Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a. Suppose the following input is supplied to the program: 9 Then, the output should be: 11106

In [ ]:
x=input()
print(int(x)+int(x+x)+int(x+x+x)+int(x+x+x+x))

9
11106

###Question 16
Level 2

Question: Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program: 1,2,3,4,5,6,7,8,9 Then, the output should be: 1,9,25,49,81

In [ ]:
x=input()
x = x.split(',')
[int(d)*int(d) for d in x if int(d)%2==1]

1,2,3,4,5,6,7,8,9

[1, 9, 25, 49, 81]

###Question 17
Level 2

Question: Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: D 100 W 200

D means deposit while W means withdrawal. Suppose the following input is supplied to the program: D 300 D 300 W 200 D 100 Then, the output should be: 500

In [ ]:
x=input()
x = x.split(' ')
net=0
for i in x:
  if i=='D':
    mult=1
  elif i=='W':
    mult=-1
  else:
    net+=mult*int(i)
print(net)

D 300 D 300 W 200 D 100
500

###Question 18
Level 3

Question: A website requires the users to input username and password to register. Write a program to check the validity of password input by users. Following are the criteria for checking the password:

At least 1 letter between [a-z]
At least 1 number between [0-9]
At least 1 letter between [A-Z]
At least 1 character from [$#@]
Minimum length of transaction password: 6
Maximum length of transaction password: 12 Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma. Example If the following passwords are given as input to the program: ABd1234@1,a F1#,2w3E*,2We3345 Then, the output of the program should be: ABd1234@1

In [ ]:
x=input()
x=x.split(',')
l=[]
def check(x):
  if len(x)<6 or len(x)>12:
    return False
  d=0
  u=0
  l=0
  a=0
  for i in x:
    if i.isdigit():
      d+=1
    elif i.isupper():
      u+=1
    elif i.islower():
      l+=1
    elif i in ['$','#','@']:
      a+=1
  
  if d>0 and u>0 and l>0 and a>0:
    return True
  else:
    return False
    
for i in x:
  if check(i):
    l.append(i)
print(','.join(l))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

###Question 19
Level 3

Question: You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. The priority is that name > age > score. If the following tuples are given as input to the program: Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85 Then, the output of the program should be: [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [ ]:
x=input()
x=x.split(' ')
x = [a.split(',') for a in x]
x.sort(key=lambda x:x[2])
x.sort(key=lambda x:x[1])
x.sort(key=lambda x:x[0])
print(x)

Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85
[['John', '20', '90'], ['Jony', '17', '91'], ['Jony', '17', '93'], ['Json', '21', '85'], ['Tom', '19', '80']]

###Question 20
Level 3

Question: Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

In [ ]:
def niter(n):
  for i in range(n+1):
    if i%7==0:
      yield i
a=niter(100)
print(next(a))
print(next(a))
print(next(a))
l=[]
for i in a:
  l.append(str(i))
print(','.join(l))

0
7
14
21,28,35,42,49,56,63,70,77,84,91,98

### Question 21
Level 3

Question
A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2

The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2

In [ ]:
x=input()
x=x.split(' ')
X=0
Y=0
for i in x:
  if i=='UP':
    ymult=1
    xmult=0
  elif i=='DOWN':
    ymult=-1
    xmult=0
  elif i=='LEFT':
    xmult=-1
    ymult=0
  elif i=='RIGHT':
    xmult=1
    ymult=0
  else:
    X+=xmult*int(i)
    Y+=ymult*int(i)
print(round(math.sqrt(X**2+Y**2)))

UP 5 DOWN 3 LEFT 3 RIGHT 2
2

###Question 22
Level 3

Question: Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. Suppose the following input is supplied to the program: New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3. Then, the output should be: 2:2 3.:1 3?:1 New:1 Python:5 Read:1 and:1 between:1 choosing:1 or:2 to:1

In [ ]:
x=input()
x=x.split(' ')
d={}
for i in x:
  if i not in d:
    d[i]=1
  else:
    d[i]+=1
dkeys=sorted(d)
for i in dkeys:
  print(str(i)+':'+str(d[i]))

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3
2:2
3:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

### Question 23
level 1

Question:
Write a method which can calculate square value of number

In [ ]:
def sq(n):
  return n**2
print(sq(5),sq(100),sq(9))

25 10000 81

### Question 24
Level 1

Question:

Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.

Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()

And add document for your own function

In [ ]:
def func():
  '''
  This does nothing
  '''
  pass
print(func.__doc__)
print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

  This does nothing

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

### Question 25
Level 1

Question:
Define a class, which have a class parameter and have a same instance parameter.

In [ ]:
class myclass:
  hello='123'
  def __init__(self):
    self.hello='hello'
a=myclass()
print(myclass.hello,a.hello)

123 hello

### Question 26:
Define a function which can compute the sum of two numbers.

In [ ]:
def func(a,b):
  return int(float(a)+float(b))
func(1,'4')

5

### Question 27
Define a function that can convert an integer into a string and print it in console.

In [ ]:
def func(a):
  print(str(a))
func(2)

2

### Question 28
Define a function that can convert a integer into a string and print it in console.

In [ ]:
#Literally the same as the last question

### Question 29
Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

In [ ]:
def func(a,b):
  print(int(a)+int(b))
func('12','3')

15

### Question 30
Define a function that can accept two strings as input and concatenate them and then print it in console.

In [ ]:
def func(a,b):
  print(a+b)
func('hi','hello')

hihello

### Question 31
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print all strings line by line.

In [ ]:
def func(a,b):
  if len(a)>len(b):
    print(a)
  elif len(a)<len(b):
    print(b)
  else:
    print(a)
    print(b)
func('asd','a')
func('asd','aasd')
func('asd','agf')

asd
aasd
asd
agf

### Question 32
Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [ ]:
def func(n):
  if n%2==0:
    print('It is an even number')
  else:
    print("It is an odd number")
func(22)
func(23)

It is an even number
It is an odd number

### Question 33
Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

In [ ]:
def func():
  d = {d: d**2 for d in [1,2,3]}
  print(d)
func()

{1: 1, 2: 4, 3: 9}

### Question 34
Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

In [ ]:
def func():
  d = {d: d**2 for d in range(1,21)}
  print(d)
func()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

### Question 35
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

In [ ]:
def func():
  d = {d: d**2 for d in range(1,21)}
  for i in d.values():
    print(i)
func()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

### Question 36
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [ ]:
def func():
  d = {d: d**2 for d in range(1,21)}
  for i in d.keys():
    print(i)
func()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### Question 37
Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [ ]:
def func():
  d = {d: d**2 for d in range(1,21)}
  print(list(d.values()))
func()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Question 38
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

In [ ]:
def func():
  d = {d: d**2 for d in range(1,21)}
  print(list(d.values())[:5])
func()

[1, 4, 9, 16, 25]

### Question 39
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

In [ ]:
def func():
  d = {d: d**2 for d in range(1,21)}
  print(list(d.values())[-5:])
func()

[256, 289, 324, 361, 400]

### Question 40
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

In [ ]:
def func():
  d = {d: d**2 for d in range(1,21)}
  print(list(d.values())[5:])
func()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Question 41
Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

In [ ]:
def func():
  d = {d: d**2 for d in range(1,21)}
  print(tuple(d.values()))
func()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

### Question 42
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [ ]:
x= (1,2,3,4,5,6,7,8,9,10)
print(x[:len(x)//2])
print(x[len(x)//2:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Question 43
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

In [ ]:
x = (1,2,3,4,5,6,7,8,9,10)
l = []
for i in x:
  if i%2==0:
    l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

### Question 44
Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No".

In [ ]:
x = input()
if x=='yes' or x=='Yes' or x=='YES':
  print("Yes")
else:
  print("No")

yes
Yes

### Question 45
Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in filter(lambda x:x%2==0,l):
  print(i)

2
4
6
8
10

### Question 46
Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in map(lambda x:x**2,l):
  print(i)

1
4
9
16
25
36
49
64
81
100

### Question 47
Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]

x = map(lambda x:x**2, filter(lambda x:x%2==0,l))
for i in x:
  print(i)

4
16
36
64
100

### Question 48
Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).

In [ ]:
x = range(1,21)
for i in filter(lambda x:x%2==0,x):
  print(i)

2
4
6
8
10
12
14
16
18
20

### Question 49
Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

In [ ]:
x = range(1,21)
for i in map(lambda x:x**2,x):
  print(i)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

### Question 50
Define a class named American which has a static method called printNationality.

In [ ]:
class American:

  @staticmethod 
  def printNationality():
    print("American")

a = American()
a.printNationality()
American.printNationality()

American
American

### Question 51
Define a class named American and its subclass NewYorker.

In [ ]:
class American:

  @staticmethod 
  def printNationality():
    print("American")

class NewYorker(American):
    pass
a = NewYorker()
a.printNationality()
American.printNationality()

American
American

### Question 52
Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.

In [ ]:
class Circle:
  def __init__(self,r):
    self.r = r
  
  def area(self):
    return math.pi* (self.r**2)

a = Circle(1)
b = Circle(2)
print(a.area(),b.area())

3.141592653589793 12.566370614359172

### Question 53
Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.

In [ ]:
class Rectangle:
  def __init__(self,l,w):
    self.l = l
    self.w = w
  
  def area(self):
    return self.l*self.w

a = Rectangle(1,2)
b = Rectangle(2,4)
print(a.area(),b.area())

2 8

### Question 54
Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

In [ ]:
class Shape:
  def area(self):
    return 0

class Square(Shape):
  def __init__(self,l):
    self.l = l
  def area(self):
    return self.l**2

a = Shape()
b = Square(2)
print(a.area(),b.area())

0 4

### Question 55
Please raise a RuntimeError exception.

In [ ]:
raise RuntimeError("Hi")

RuntimeError: ignored

### Question 56
Write a function to compute 5/0 and use try/except to catch the exceptions.

In [ ]:
def func(a,b):
  try:
    return a/b
  except:
    raise Exception("Couldn't divide")

func(5,0)

Exception: ignored

### Question 57
Define a custom exception class which takes a string message as attribute.

In [ ]:
class custException(Exception):
  def __init__(self,s):
    self.s=s

a = custException('yo')

### Question 58
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

Example:
If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

john

In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
x = input()
x.split('@')[0]

john@google.com

'john'

### Question 59
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

Example:
If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

google

In [ ]:
x = input()
x.split('@')[1].split('.')[0]

john@google.com

'google'

### Question 60
Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

Example:
If the following words is given as input to the program:

2 cats and 3 dogs.

Then, the output of the program should be:

['2', '3']

In [ ]:
import re
x = input()
r2 = re.findall('[0-9]',x)
r2

2 cats and 3 dogs.

['2', '3']

### Question 61
Print a unicode string "hello world".

In [ ]:
print(u'hello world')

hello world

### Question 62
Write a program to read an ASCII string and to convert it to a unicode string encoded by utf-8.

In [15]:
b'Schutzt\xc3\xbcren'.decode('utf-8')

'Schutztüren'

### Question 63

Write a special comment to indicate a Python source code file is in unicode.

In [22]:
# -*- coding: utf-8 -*-

### Question 64

Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

Example:
If the following n is given as input to the program:

5

Then, the output of the program should be:

3.55

In [28]:
n = int(input())
s=0
for i in range(1,n+1):
  s+=(i/(i+1))
s

5

3.5500000000000003

### Question 65

Write a program to compute:

f(n)=f(n-1)+100 when n>0
and f(0)=1

with a given n input by console (n>0).

Example:
If the following n is given as input to the program:

5

Then, the output of the program should be:

501

In [32]:
def func(n):
  if n==0:
    return 1
  else:
    return func(n-1) + 100
n = int(input())
func(n)

5

501

### Question 66
The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1

Please write a program to compute the value of f(n) with a given n input by console.

Example:
If the following n is given as input to the program:

7

Then, the output of the program should be:

13

In [33]:
def func(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return func(n-1) + func(n-2)
x = int(input())
func(x)

7

13